table
{
    width: 100%;
}
/*#studentId*/
/*{*/
/*    background-color: chartreuse;*/
/*}*/
/*#teacherId*/
/*{*/
/*    background-color: deeppink;*/
/*}*/
.comboDesign
{
    width: 40%;
    height: 25px;

}
/*.myClass*/
/*{*/
/*    background-color: blue;*/
/*    color: darkmagenta;*/
/*}*/